@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --nav-color: #cf4859;
  --main-bottom: #d34759;
  --main-button: #1dbf73;
  --skills-intro: #be5272;
  --skills-heading: #404145;
  --skills-text: #7a7d85;
  --skills-bg: #fafafa;
  --hcolor: #249045;
}

.intro{
  @apply uppercase text-skillsintro font-bold text-xl text-center mb-5;
}
.link:hover .arrow{
  transform: translateX(6px);
  transition: all 300ms ease ;
  stroke:var(--hcolor)
}
.link:hover span{
  color: var(--hcolor);
}
